<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" strict="true">
    <testsuites>
        <testsuite name="OaiPmhToolset">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/OaiPmhTools</directory>
            <!--<exclude>
                <directory suffix=".php">src/Dummy</directory>
            </exclude>-->
        </whitelist>
    </filter>

</phpunit>
